<footer>
    <nav>
        <a href="fb.com">Facebook</a>
        <a href="instagram.com">Instagram</a>
        <a href="yt.com">Youtube</a>
    </nav>
    <p>Acesse as nossas reder sociais, lá você fica por dentro de todas as novidades!</p>
</footer>