<!DOCTYPE html>
<html lang="pt-br">
    <%- include('shared/head') %>
<body>
    <%- include('shared/header') %>
    <link rel="stylesheet" href="/assets/estilo.css">
    <h1>Bem vindo ao Rent-a-Cat</h1>
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h1>
    <%- include('shared/footer') %>
</body>
</html>