<!DOCTYPE html>
<html lang="en">
<%- include('shared/head') %>
<body>
    <%- include('shared/header') %>
    <h1>Sobre</h1>
    <p>
        Somos uma plataforma que disponibiliza gatos que estão sem donos para serem doados ou comprados(dependendo da raça)!
    </p>
    <section>
        <div class="depoimento">
            <img src="" alt="">
            <p>asuidfhaisudhascniqwndasd</p>
        </div>
    </section>
    <%- include('shared/footer') %>
</body>
</html>
